<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение бронирования</title>
    <link rel="stylesheet" href="/static/styles/booking_confirmation_styles.css">
</head>
<body class="confirmation-page">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <h1 class="confirmation-title">Подтверждение бронирования</h1>
    <p class="confirmation-info">Вы забронировали номер: {{ room.id }}</p>
    <p class="confirmation-info">С даты: {{ start_date }} по дату: {{ end_date }}</p>
    <p class="confirmation-total">Общая стоимость: {{ total_cost }} ₽</p>

    <form action="{{ url_for('confirm_booking', room_id=room.id) }}" method="post">
        <input type="hidden" name="start_date" value="{{ start_date }}">
        <input type="hidden" name="end_date" value="{{ end_date }}">
        <button type="submit">Подтвердить бронирование</button>
    </form>
    
</body>
</html>
