<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение регистрации</title>
    <link rel="stylesheet" href="/static/styles/register_confirmation_styles.css">
</head>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div class="auth-container">
        <div class="auth-form">
            <h1>Подтверждение регистрации</h1>
            <form method="POST" action="{{ url_for('confirm_registration') }}">
              <label for="email">Ваш email:</label>
              <input type="email" name="email" required>
              
              <label for="confirmation_code">Код подтверждения:</label>
              <input type="text" name="confirmation_code" required>
          
              <button type="submit">Подтвердить регистрацию</button>
            </form>
        </div>
    </div>
</body>
</html>
