{% extends "base.html" %}

{% block title %}Список номеров - Гостиница{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/styles/rooms_styles.css">

<section class="room-list">
    <h1>Наши номера</h1>
    <div class="rooms-container">
        {% for room_info in rooms %}
            <div class="room">
                <h2>{{ room_info.room.name }}</h2>
                <p>{{ room_info.room.description }}</p>
                <p>Цена: {{ room_info.room.price }} ₽</p>
                <img src="{{ url_for('static', filename=room_info.room.image) }}" alt="{{ room_info.room.name }}">
                
                {% if room_info.booked_dates %}
                    <h3>Забронированные даты:</h3>
                    <ul>
                        {% for start_date, end_date in room_info.booked_dates %}
                            <li>{{ start_date.strftime('%Y-%m-%d') }} - {{ end_date.strftime('%Y-%m-%d') }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Свободно</p>
                {% endif %}

                <form action="{{ url_for('book_room', room_id=room_info.room.id) }}">
                    <button type="submit">Забронировать</button>
                </form>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}